/* Box Model Hack */
* {
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace !important;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {}

h1 {
    font-size: 3rem;
}

main {
    height: 100vh;
    display: flex;
}

/******************************************
/* LAYOUT
/*******************************************/
.splash {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.splash>* {
    flex: auto;
}

.splash img {
    flex: 1 1 75%;
    max-width: 50%;
}

.text-container {
    flex: 0 1 25%;
}

.nav-container {
    flex-flow: row-reverse;
}

.icon-list {
    flex-flow: column;
    align-self: center;
}

.icon {
    width: 25px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
        --primary: #5e35b1;
        --primary-hover: #673ab7;
        --primary-focus: rgba(94, 53, 177, 0.25);
        --primary-inverse: #FFF;
    }
}

@media (max-width: 426px) {
    .splash img {
        max-width: 100%;
    }
}